body {
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
    text-shadow: 5px;
}

#intro{
    background-color: rgb(182, 220, 238);
}

#origami1{
   background-color:lightcoral;
}

#contact_1{
    background-color: cornflowerblue;
}
#contact_1 h3
{
    display: inline;
    font-family: fantasy;
}
#contact_1 a
{
    color: white;
    text-shadow: none;
    font-family: cursive;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p
{
    font-family: fantasy;
}

h2
{
    font-family: fantasy;
}

#crane_img
{
    border-radius: 12px;
}

#tulip_img
{
    border-radius: 12px;
}